<!-- public/views/help.html -->
<div class="text-left" style="padding:2em;">
	<h1>Contact Us</h1>
	<form>
        <div class="form-group">
            <label for="inputEmail">Email Address</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="email" style="width:60%;">
        </div>
        <div class="form-group">
            <label for="inputSubject">Subject</label>
            <input type="text" class="form-control" id="inputSubject" placeholder="subject" style="width:60%;">
        </div>
        <div class="form-group">
            <label for="inputName">Your Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="name" style="width:60%;">
        </div>
        <div class="form-group">
            <label for="inputPhone">Phone Number</label>
            <input type="tel" class="form-control" id="inputPhone" placeholder="phone" style="width:60%;">
        </div>
        <div class="form-group">
            <label for="inputContent">Content</label>
            <textarea class="form-control" rows="7" id="inputContent" placeholder="content"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <button type="reset" class="btn btn-default">Cancel</button>
    </form>
</div>
