<!-- public/views/home.html -->
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="panel">
            <ul class="list-group">
                <li class="list-group-item">This</li>
                <li class="list-group-item">Is</li>
                <li class="list-group-item">A</li>
                <li class="list-group-item">Test.</li>
                <li class="list-group-item">Only</li>
                <li class="list-group-item">A</li>
                <li class="list-group-item">Test.</li>
            </ul>
        </div>
    </div>
</div>