<!-- public/views/test.html -->
<form name="form" class="css-form" novalidate>
    <div class="form-group">
        <label for="inputEmail" class="control-label">Email</label>
        <input type="email" ng-model="myEmail" class="form-control" id="inputEmail" lp-validate-email name="testEmail" required /><br>
        <span ng-show="form.testEmail.$error.email">This email format is invalid!</span><br>
        Model: {{ myEmail }}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </div>
</form>