<!-- public/views/userdetails.html -->
<div class="text-left" style="padding:2em;">
	<h1>My Profile</h1>
	<form class="css-form"
          enctype="application/x-www-form-urlencoded"
          name="newUserForm"
          novalidate
          role="form">
        <div class="form-group row">
            <label for="inputerUsername"
                   class="col-sm-2 form-control-label">
                Username
            </label>
            <div class="col-sm-3">
                <input type="text"
                       class="form-control"
                       id="inputerUsername"
                       placeholder="username"
                       name="username"
                       ng-model="formData.user_id"
                       ng-model-options="{ debounce: 500 }"
                       maxlength="50"
                       lp-validate-unique-username
                       lp-validate-username
                       required />
            </div>
            <div class="col-sm-7">
                <span ng-if="newUserForm.username.$pending">
                    Validating user name...
                </span>
                <span class="input-error"
                      ng-if="newUserForm.username.$error.usernameExists">
                    Duplicate username, please try a different one.
                </span>
                <span class="input-error"
                      ng-if="newUserForm.username.$error.usernameInvalidFormat">
                    Username format is invalid.
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword"
                   class="col-sm-2 form-control-label">
                Password
            </label>
            <div class="col-sm-3">
                <input type="password"
                       class="form-control"
                       id="inputPassword"
                       name="password"
                       ng-model="formData.password"
                       ng-model-options="{ debounce: 500 }"
                       maxlength="50"
                       lp-validate-password
                       required />
            </div>
            <label for="validatePassword"
                   class="col-sm-2 form-control-label">
                Re-enter Password
            </label>
            <div class="col-sm-3">
                <input type="password"
                       class="form-control"
                       id="validatePassword"
                       name="validate_password"
                       ng-model="formData.validate_password"
                       ng-blur="checkPassword()"
                       maxlength="50"
                       required />
            </div>
            <div class="col-sm-2">
                <span class="input-error"
                      ng-if="newUserForm.password.$error.passwordInvalidLength">
                    Password needs to be at least 8 characters.
                </span>
                <span class="input-error"
                      ng-if="newUserForm.password.$error.passwordInvalidUpper">
                    Password needs to have at least 1 uppercase letter.
                </span>
                <span class="input-error"
                      ng-if="newUserForm.password.$error.passwordInvalidLower">
                    Password needs to have at least 1 lowercase letter.
                </span>
                <span class="input-error"
                      ng-if="newUserForm.password.$error.passwordInvalidNumeric">
                    Password needs to have at least 1 numeric character.
                </span>
                <span class="input-error"
                      ng-if="newUserForm.password.$error.passwordInvalidNonalpha">
                    Password needs to have at least 1 special character.
                </span>
                <span class="input-error"
                      ng-if="newUserForm.validate_password.$error.mismatchPassword">
                    Passwords need to match.
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputName"
                   class="col-sm-2 form-control-label">
                Name
            </label>
            <div class="col-sm-3">
                <input type="text"
                       class="form-control"
                       id="first_name"
                       placeholder="first"
                       name="first_name"
                       ng-model="formData.first_name"
                       ng-model-options="{ debounce: 500 }"
                       maxlength="50"
                       lp-validate-name
                       required>
            </div>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputMiddleInitial"
                       placeholder="m"
                       name="middle_initial"
                       ng-model="formData.middle_initial"
                       ng-model-options="{ debounce: 500 }"
                       maxlength="1"
                       lp-validate-name>
            </div>
            <div class="col-sm-3">
                <input type="text"
                       class="form-control"
                       id="inputLastName"
                       placeholder="last"
                       name="last_name"
                       ng-model="formData.last_name"
                       ng-model-options="{ debounce: 500 }"
                       maxlength="50"
                       lp-validate-name
                       required>
            </div>
            <div class="col-sm-2">
                <span class="input-error"
                      ng-if="newUserForm.first_name.$error.nameInvalidFormat ||
                             newUserForm.middle_initial.$error.nameInvalidFormat ||
                             newUserForm.last_name.$error.nameInvalidFormat">
                    Name format is invalid.
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail"
                   class="col-sm-2 form-control-label">
                Email
            </label>
            <div class="col-sm-5">
                <input type="email"
                       class="form-control"
                       id="inputEmail"
                       placeholder="email"
                       name="email"
                       ng-model="formData.email"
                       ng-model-options="{ debounce: 500 }"
                       maxlength="254"
                       lp-validate-email
                       required>
            </div>
            <div class="col-sm-5">
                <span class="input-error"
                      ng-if="newUserForm.email.$error.emailInvalidFormat">
                    Email format is invalid.
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPhone"
                   class="col-sm-2 form-control-label">
                Phone
            </label>
            <div class="col-sm-2">
                <select class="form-control"
                        id="inputPhoneType"
                        name="phone_type"
                        ng-model="formData.phone_type"
                        required
                        ng-options="phoneTypeOption as phoneTypeOption.label for phoneTypeOption in phoneTypeOptions track by phoneTypeOption.id">
                </select>
            </div>
            <div class="col-sm-3">
                <input type="tel"
                       class="form-control"
                       id="inputPhone"
                       placeholder="phone"
                       name="phone"
                       ng-model="formData.phone"
                       lp-validate-phone
                       required>
            </div>
            <div class="col-sm-5">
                <span class="input-error"
                      ng-if="newUserForm.phone.$error.phoneInvalidFormat">
                    Phone format is invalid.
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputStreet"
                   class="col-sm-2 form-control-label">
                Street
            </label>
            <div class="col-sm-8">
                <input type="text"
                       class="form-control"
                       id="inputStreet"
                       placeholder="123 main st"
                       name="street"
                       ng-model="formData.street"
                       required>
            </div>
            <div class="col-sm-2">
                <span class="input-error"
                      ng-if="newUserForm.phone.$error.phoneInvalidFormat">
                    Phone format is invalid.
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputCity" class="col-sm-2 form-control-label">City/State/Zip</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputCity" placeholder="austin" name="city" ng-model="formData.city" required>
            </div>
            <div class="col-sm-2">
                <select class="form-control"
                        id="inputState"
                        name="state"
                        ng-model="formData.state"
                        required
                        ng-options="stateOption as stateOption.label for stateOption in stateOptions track by stateOption.id">
                </select>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputZipcode" placeholder="77777-7777" name="zipcode" ng-model="formData.zipcode" required>
            </div>
        </div>
        <div class="text-center form-group" style="margin-top:2.5em;">
            <button ng-click="submit(formData)" ng-disabled="newUserForm.$invalid || newUserForm.$pending" type="submit" class="btn btn-primary" id="submit">SUBMIT</button>
            <input ng-click="reset()" type="reset" class="btn btn-default" id="reset" value="cancel"/>
        </div>
        <div class="text-left" stype="margin-top:2.5em;">
            <label class="alert">{{ message }}</label>
        </div>
    </form>
</div>
