<!-- public/views/userdetails.html -->
<div class="text-left" style="padding:2em;">
	<h1>My Profile</h1>
	<form class="css-form" enctype="application/x-www-form-urlencoded" name="newUserForm" novalidate role="form">
        <div class="row">
            <label for="inputerUsername" class="col-sm-2 form-control-label">Username</label>
            <div class="form-group col-sm-9">
                <input type="text" class="form-control" id="inputerUsername" placeholder="username" name="user_id" ng-model="formData.user_id" ng-model-options="{ updateOn: 'blur' }" lp-test />
            </div>
            <div class="form-group col-sm-1">
                <p ng-show="newUserForm.user_id.$pending">Validating user name...</p>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputerPassword" class="col-sm-2 form-control-label">Password</label>
            <div class="col-sm-10 form-group">
                <input type="password" class="form-control" id="inputePassword" name="password" ng-model="formData.password" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputerPassword" class="col-sm-2 form-control-label">Repeat Password</label>
            <div class="col-sm-10 form-group">
                <input type="password" class="form-control" id="validatePassword" name="validate_password" ng-model="formData.validate_password" required>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="inputName" class="col-sm-2 form-control-label">Name</label>
            <div class="col-sm-4 form-group">
                <input type="text" class="form-control" id="first_name" placeholder="first" name="first_name" ng-model="formData.first_name" lp-validate-name required>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="inputMiddleInitial" name="middle_initial" ng-model="formData.middle_initial" maxlength="1" lp-validate-name>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputLastName" placeholder="last" name="last_name" ng-model="formData.last_name" lp-validate-name required>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 form-control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="email" name="email" ng-model="formData.email" lp-validate-email required>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPhone" class="col-sm-2 form-control-label">Phone</label>
            <div class="col-sm-8">
                <input type="tel" class="form-control" id="inputPhone" placeholder="phone" name="phone" ng-model="formData.phone" required>
            </div>
            <div class="col-sm-2">
                <select class="form-control" id="inputPhoneType" name="phone_type" ng-model="formData.phone_type" required>
                    <option value="MOBILE" selected>MOBILE</option>
                    <option value="HOME">HOME</option>
                    <option value="WORK">WORK</option>
                    <option value="FAX">FAX</option>
                    <option value="PAGER">PAGER</option>
                    <option value="OTHER">OTHER</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputStreet" class="col-sm-2 form-control-label">Street</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputStreet" placeholder="123 main st" name="street" ng-model="formData.street" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputCity" class="col-sm-2 form-control-label">City/State/Zip</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputCity" placeholder="austin" name="city" ng-model="formData.city" required>
            </div>
            <div class="col-sm-2">
                <select class="form-control" id="inputState" name="state" ng-model="formData.state" required>
                    <option selected>TX</option>
                    <option>AL</option>
                    <option>AK</option>
                    <option>AZ</option>
                    <option>AR</option>
                    <option>CA</option>
                    <option>CO</option>
                    <option>CT</option>
                    <option>DE</option>
                    <option>DC</option>
                    <option>FL</option>
                    <option>GA</option>
                    <option>HI</option>
                    <option>ID</option>
                    <option>IL</option>
                    <option>IN</option>
                    <option>IA</option>
                    <option>KS</option>
                    <option>KY</option>
                    <option>LA</option>
                    <option>ME</option>
                    <option>MD</option>
                    <option>MA</option>
                    <option>MI</option>
                    <option>MN</option>
                    <option>MS</option>
                    <option>MO</option>
                    <option>MT</option>
                    <option>NE</option>
                    <option>NV</option>
                    <option>NH</option>
                    <option>NJ</option>
                    <option>NM</option>
                    <option>NY</option>
                    <option>NC</option>
                    <option>ND</option>
                    <option>OH</option>
                    <option>OK</option>
                    <option>OR</option>
                    <option>PA</option>
                    <option>PR</option>
                    <option>RI</option>
                    <option>SC</option>
                    <option>SD</option>
                    <option>TN</option>
                    <option>UT</option>
                    <option>VT</option>
                    <option>VA</option>
                    <option>WA</option>
                    <option>WV</option>
                    <option>WI</option>
                    <option>WY</option>
                </select>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputZipcode" placeholder="77777-7777" name="zipcode" ng-model="formData.zipcode" required>
            </div>
        </div>
        <div class="text-center form-group" style="margin-top:2.5em;">
            <button ng-click="submit(formData)" type="submit" class="btn btn-primary" id="submit">SUBMIT</button>
            <input ng-click="reset()" type="reset" class="btn btn-default" id="reset" value="cancel"/>
        </div>
        <div class="text-left" stype="margin-top:2.5em;">
            <label class="alert">{{ message }}</label>
        </div>
    </form>
</div>
