<!-- public/views/userdetails.html -->
<div class="text-left" style="padding:2em;">
	<h1>My Profile</h1>
	<form>
        <div class="form-group row">
            <label for="inputName" class="col-sm-2 form-control-label">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputName" placeholder="first">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="inputMiddleInitial">
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputLastName" placeholder="last">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 form-control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="email">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPhone" class="col-sm-2 form-control-label">Phone</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" id="inputPhone" placeholder="phone">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputStreet" class="col-sm-2 form-control-label">Street</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputStreet" placeholder="123 main st">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputCity" class="col-sm-2 form-control-label">City/State/Zip</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputCity" placeholder="austin">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="inputState" placeholder="tx">
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="inputZipcode" placeholder="77777-7777">
            </div>
        </div>
        <div class="text-center" style="margin-top:2.5em;">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-default">Cancel</button>
        </div>
    </form>
</div>
