/* public/src/css/style.less */
@primaryColor: #FFFFFF;
@secondaryColor: #CEECF5;
@defaultBorderRadius: 10px;

body { background:@primaryColor; }

.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
    font-weight: bold;
    color: darkred;
}

.css-form input.ng-valid.ng-touched {
    background-color:aliceblue;
    font-weight: normal;
}